@model XFLCSMS.Models.Todos.TodoReportView;
@{
    Layout = "_SupportManegerLayout";
}

<!-- Main content -->
<section class="content">
    <div class="card">
        <div class="card-header">
            <h5 class="text-center"><b>Generate Your To-Do Report</b></h5>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <form id="advancedSearchForm" asp-action="TodoSearch" method="get">
                            <div class="row justify-content-center">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="assigningStatus">Status</label>
                                        <select asp-for="search.Status" class="form-control" id="assigningStatus">
                                            <option value="">--Select--</option>
                                            <option value="">All</option>
                                            <option value="In progress">In progress</option>
                                            <option value="Done">Closed</option>
                                            <option value="Canceled">Canceled</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="search_FromDate">From Date</label>
                                        <input asp-for="search.FromDate" type="date" class="form-control" id="search_FromDate" />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="search_ToDate">To Date</label>
                                        <input asp-for="search.ToDate" type="date" class="form-control" id="search_ToDate" />
                                    </div>
                                </div>
                            </div>

                            <div class="row d-flex justify-content-center align-content-center">
                                <button type="button" class="btn btn-outline-primary" id="searchButton">
                                    <i class="fas fa-search"></i> Search
                                </button>
                            </div>

                        </form>

                    </div>
                    <div>
                        <h4> <b>Search Results:</b></h4>
                        <div id="searchResultsPlaceholder"></div>
                    </div>
                </div>


                <div class="card-tools text-right">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="card-body p-0">
            <div id="searchResults">
                @if (Model.Todos != null)
                {
                    @Html.Partial("_todoSearchResult", Model.Todos)
                }
                else
                {
                    <p class="ml-3">No data found.</p>
                }
            </div>

            <div class="row d-flex justify-content-center align-content-center">
                <button type="button" class="btn btn-outline-secondary ml-2 mb-3" onclick="printResults()">
                    <i class="fas fa-print"></i> Print Results
                </button>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(function () {
        $('#searchButton').click(function () {
            $.ajax({
                url: '/SupportManegar/TodoSearch',
                type: 'GET',
                data: $('#advancedSearchForm').serialize(),
                success: function (response) {
                    $('#searchResults').html(response);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>

<script>
    function printResults() {
        var printContents = document.getElementById("searchResults").innerHTML;
        var originalContents = document.body.innerHTML;

        // Replace the whole body with the content to be printed
        document.body.innerHTML = printContents;

        // Print the content
        window.print();

        // Restore the original body content
        document.body.innerHTML = originalContents;
    }
</script>
