<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>XFL CSMS | Layout</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css/all.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-x6D3f/jRqIR14+eGhETZq4JalZMZJKC4vEcBSxGr8Uk1HRYcVS8zI1uvzVzmzSdcI37jQoR6T+10YteDkbf6Gg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Custom CSS -->
    <style>
        .error {
            color: red;
        }
    </style>
</head>

<body class="hold-transition sidebar-mini" oncontextmenu="">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-action="Dashbord" class="nav-link">Home</a>
                </li>

            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
@*                 <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
 *@
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a asp-action="Dashbord" class="brand-link">
                <img src="~/img/XFLlogo.png" alt="XFL Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">XFL CSMS</span>
            </a>


            <!-- Sidebar -->
            <div class="sidebar">
                <nav class="navbar navbar-expand-lg">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @ViewBag.Profile.FullName
                                </a>
                                <div class="dropdown-menu" aria-labelledby="profileDropdown">
                                    <a class="dropdown-item" asp-action="Profile" asp-route-id="@ViewBag.Profile.Id">My Profile</a>
                                    <a class="dropdown-item" asp-action="ChangePassword">Change Password</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-action="Logout" asp-controller="SupportEngineer">Log Out</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>



                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->

                        <li class="nav-item menu-open">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Pages
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-action="IssueRaiseFrom" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Create Ticket</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a asp-action="AllTicketList" class="nav-link ">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>All Ticket List</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="AssignedTicketList" class="nav-link ">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Assign Tickets</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="UnassignedTicketList" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Unassigned Ticket List</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="ClosedTicketList" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Closed Ticket List</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" id="toggleSubMenu">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>View To-Do List</p>
                                    </a>
                                    <ul class="ml-5 nav nav-treeview custom-treeview" id="subMenu" style="display: none;">
                                        <!-- Initially hidden -->
                                        <li class="nav-item">
                                            <a asp-action="ViewTodo" class="nav-link small">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>To-Do List</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-action="AllTodo" class="nav-link small">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>All To-Do</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-action="CompletedTodo" class="nav-link small">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>Complete Task</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-action="TodoReports" class="nav-link small">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>To-Do Report</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>


                            </ul>
                        </li>


                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- /Here goes the rendering part -->
            @RenderBody()

        </div>
        <!-- /.content-wrapper -->




        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; 2024 <a href="https://xpertfintech.com">Xpert Fintech Limited</a>.</strong> All rights reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>


    <!-- /.wrapper -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap Bundle JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>
    <!-- Include CKEditor library -->
    <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>


    <!-- Custom Scripts -->
    <script>
        $(document).ready(function () {
            $('#issuesTable').DataTable();
            // When the document is ready, collapse the menu
            $('.nav-link.active').closest('.menu-open').removeClass('menu-open');
        });
    </script>

    <script>
        $(document).ready(function () {
            CKEDITOR.replace('editor');
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        // Define a function named preventback
        function preventback() {
            // Forward the browser's history by one step, effectively preventing the user from going back
            window.history.forward();
        }

        // Set a timeout to call the preventback function immediately after the script is executed
        setTimeout("preventback()", 0);

        // When the window loads, assign a null function to the onload event to effectively do nothing
        window.onload = function () { null };
    </script>
    <script>
        document.onkeydown = function (e) {
            if (event.keyCode == 123) {
                return false;
            }
            if (e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
                return false;
            }
            if (e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
                return false;
            }
            if (e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
                return false;
            }
        }
    </script>
</body>
</html>
