@model XFLCSMS.Models.Brocarage.Brokerage

@{
    ViewData["Title"] = "Create";
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>XFL CSMS | Create BrocarageHouse</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <link href="~/css/datatablecss/jquery.datatables.css" rel="stylesheet" />
    <link href="~/css/datatablecss/jquery.datatables.min.css" rel="stylesheet" />
</head>
<body>    
<h1>Create</h1>

<h4>Brokerage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Home" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BrokerageHouseName" class="control-label"></label>
                <input asp-for="BrokerageHouseName" class="form-control" />
                <span asp-validation-for="BrokerageHouseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrokerageHouseAcronym" class="control-label"></label>
                <input asp-for="BrokerageHouseAcronym" class="form-control" />
                <span asp-validation-for="BrokerageHouseAcronym" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <!-- bs-custom-file-input -->
    <script src="~/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
    <script src="~/js/maket_datatable.js"></script>

    <script src="~/datatable/jquery.datatables.js"></script>
    <script src="~/datatable/jquery.datatables.min.js"></script>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
