
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FileUpload</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="FileUpload">
        <div class="mb-3">
            <input type="file" name="file" class="form-control"/>
        </div>
        <div class="mb-3">
            <input type="submit"  value="Upload File" class="btn btn-primary"/>
        </div>
        <span class="text-success"> 
            @ViewBag.Messege
        </span>
    </form>
</body>
</html>
