@model XFLCSMS.Models.Affected.AffectedSection;


<!-- Main content -->
<section class="content">

    <h1>Create</h1>

    <h4>Affected Section</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Admin" asp-action="CreateAffectedSection">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@Model.ASection" class="control-label"></label>
                    <input asp-for="@Model.ASection" class="form-control" />
                    <span asp-validation-for="@Model.ASection" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-controller="Admin" asp-action="AffectedSectionList">Back to List</a>
    </div>

</section>

<script type="text/javascript">
    // Define a function named preventback
    function preventback() {
        // Forward the browser's history by one step, effectively preventing the user from going back
        window.history.forward();
    }

    // Set a timeout to call the preventback function immediately after the script is executed
    setTimeout("preventback()", 0);

    // When the window loads, assign a null function to the onload event to effectively do nothing
    window.onload = function () { null };
</script>

       