@model XFLCSMS.Models.Branch.BranchView;
<!-- Main content -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-primary">
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">BranchId</label>
                                <input type="text" value="@Model.BranchId" class="form-control" id="exampleInputEmail1" placeholder="BrokerageId" readonly>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">BranchName</label>
                                <input type="text" value="@Model.BranchName" class="form-control" id="exampleInputEmail1" placeholder="BrokerageHouseName" readonly>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">BrokerageHouseName</label>
                                <input type="text" class="form-control" value="@Model.BrokerageHouseName" id="exampleInputEmail1" placeholder="BrokerageHouseAcronym" readonly>
                            </div>



                        </div>
                        <!-- /.card-body -->
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
        <!-- /.card-body -->

    </div>



    <!-- /.container-fluid -->
</section>
<!-- /.content -->
<script type="text/javascript">
    // Define a function named preventback
    function preventback() {
        // Forward the browser's history by one step, effectively preventing the user from going back
        window.history.forward();
    }

    // Set a timeout to call the preventback function immediately after the script is executed
    setTimeout("preventback()", 0);

    // When the window loads, assign a null function to the onload event to effectively do nothing
    window.onload = function () { null };
</script>  